.name{
  color: rgb(136, 133, 133);
}

.container{
  color: rgb(136, 133, 133);
}
.staff_name{
  color: rgb(136, 133, 133);
  text-align: center;
 
}
br {
  display: block;
  content: "";
  margin: 0 10px;
  }

.button{
  background: rgb(148, 146, 146);
  border-radius:5%;
  padding: 15px 60px;
  color         : #ffffff;
  font-size     : 19pt;
  margin: 30px 30px 4px 10px;
}
.form{
  background: rgb(148, 146, 146);
}

.form_control{
  display: block;
  background: rgb(255, 255, 255);
  color         : #8a8787;
  font-size: 30px;
  padding: 10px 130px;
  margin: 0 0 0 0;
  
}
