{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head %}
<script>
    function updateClock() {
        var now = new Date();
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth() + 1;
        var week = today.getDay();
        var day = today.getDate();
        var hour = now.getHours();
        var minute = now.getMinutes();
        var second = now.getSeconds();
        var week_ja = new Array("日", "月", "火", "水", "木", "金", "土");

        if (hour < 10) hour = "0" + hour;
        if (minute < 10) minute = "0" + minute;
        if (second < 10) second = "0" + second;
        document.getElementById('myClock').innerHTML
            = year + "年" + month + "月" + day + "日 " + "(" + week_ja[week] + ")" + "<br>" + hour + ":" + minute + ":" + second;
    }
    function start() {
        setInterval("updateClock();", 1000);
        updateClock();
    }
</script>
{% endblock head %}


{% block content %}

<body onload="start();">
    <div class="name" id="myClock" align="center" ></div>
    <div class="name" id="company_name" align="left" >{{ company }}</div>
    <hr>

    <div class="container" align="center">
        <p class="staff_name" >従業員名</p>
        <form action="{% url 'attendance' %}" method="POST">{% csrf_token %}
            <br>
            {{ form.staff|add_class:'form_control'}}
            <br>
            <input class="button" type="submit" value="出勤" id="arrive" name="arrive">
            <input class="button" type="submit" value="退勤" id="leave" name="leave">
        </form>
    </div>
</body>
{% endblock content %}