{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
​
{% block head %}
<link rel="stylesheet" href={% static "jquery-ui/jquery-ui.min.css" %} />
<script src={% static "jquery-ui/external/jquery/jquery.js" %}></script>
<script src={% static "jquery-ui/jquery-ui.min.js" %}></script>
​
<script src={% static 'js/jquery-3.6.0.min.js' %}></script>
​
​
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
​
{% endblock head %}
​
{% block content %}
<body style="width:auto; margin:0 auto">
    <div class="layout_width" id="page_title" align="left">
        <ul style="list-style: none; padding-left: 5px;">
            <li class="campany_name" id="company_name" align="left">{{ company }}</li>
            <li class="application_name" id="company_name" align="left">TTimes</li>
            <li class="staff_list" id="company_name" align="left">従業員一覧</li>
        </ul>
    </div>
    <div class="layout_sidebar">
        <div class="sidebar_container">
            <ul class="border border-white" style="list-style: none; margin-top: 10px;">
                <li><a class="btn_btn-default" href="{% url 'TTimes:register' %}">従業員登録 ></a></li>
                <li><a class="btn_btn-default" href="{% url 'TTimes:staffpayment' %}">従業員管理 ></a></li>
                <li><a class="btn_btn-default" href="{% url 'TTimes:dailylist' %}">勤怠一覧 ></a></li>
            </ul>
        </div>
    </div>

    <div class="layout_main">
        <p class="page_title">従業員一覧</p>
        <div class="container" align="center">
            <table border="1" class="table">
                <thead class="thead-dark">
                    <tr align="center" valign="middle">
                        <td>レコードid</td>
                        <td>打刻者</td>
                        <td>出勤/退勤</td>
                        <td>打刻時間</td>
                        <td>詳細</td>
                    </tr>
                </thead>
                <tr align="center" valign="middle">
                    <td>{{ attendance.id }}</td>
                    <td>{{ attendance.staff.name }}</td>
                    <td>{{ attendance.get_in_out_display }}</td>
                    <td>{{ attendance.attendance_datetime }}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
​

<script>
    $(function () {
        var dateFormat = 'yy-mm-dd';
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth() + 1;
        var day = today.getDate();
        $('#id_date').datepicker({
            dateFormat: dateFormat,
            maxDate: new Date(year, month - 1, day)
        });
    });
</script>
{% endblock content %}