{% extends 'base.html' %}
{% block content %}
<div id="company_name" align="left" style="font:bold 12pt Times New Roman;">{{ company }}</div>
<hr>


<div class="container" align="center">
    <table border="1">
        <tr>
            <td>従業員番号</td>
            <td>名前</td>
            <td>残業単価</td>
            <td>早出単価</td>
            <td>夜勤単価</td>
            <td>休出単価</td>
        </tr>
        {% for staff in staff_list %}
        <tr>
            <td>{{ staff.employee_number }}</td>
            <td>{{ staff.name }}</td>
            <td>{{ staff.get_ot_style_display }} : ￥{{ staff.ot_wage }}</td>
            <td>{{ staff.get_morning_style_display }} : ￥{{ staff.morning_wage }}</td>
            <td>{{ staff.get_night_style_display }} : ￥{{ staff.night_wage }}</td>
            <td>{{ staff.get_holiday_style_display }} : ￥{{ staff.holiday_wage }}</td>
            <td>
                <a href="#">修正</a>
                <a href="#">勤怠管理</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}